.candle {
  min-height: 100vh;
}

.candle__back {
  display: inline-flex;
    align-items: center;
    gap: 15px;
    margin: 0 0 25px 0;
    color: #213547;
}

.candle__back div {
  background-color: #f0f1f5;
  border-radius: 5px;
  padding: 10px 15px;
}

.candle__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.candle__wrapper img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  background-color: #f0f1f5;
  border-radius: 3px;
}

.candle__wrapper-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  padding: 0% 10%;
  gap: 25px;
}

.candle__wrapper-content-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  /* max-width: 360px; */
}

.candle__wrapper-content-h3 {
  margin: 0;
  line-height: 1;
  font-size: 24px;
  font-weight: 500;
}

.candle__wrapper-content-text ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-flex;
  flex-direction: column;
  gap: 15px;
  /* width: 100%; */
  font-size: 14px;
}

.candle__wrapper-content-text ul li {
  display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 25px;
}

.candle__wrapper-content-price {
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 1px;
}

.candle__wrapper-content-btn {
  background-color: #895330;
  border: 2px solid #895330;
  color: white;
  transition: all 0.25s ease-in-out;
}

.candle__wrapper-content-btn:hover {
  background-color: transparent;
  border: 2px solid #895330;
  color: #895330;
}

@media screen and (max-width: 1279px) {
  .candle__wrapper-content {
    padding: 0 5%;
  }
}

@media screen and (max-width: 767px) {
  .candle__wrapper {
    grid-template-columns: 1fr;
    gap: 30px;
  }
  .candle__wrapper-content {
    padding: 0 2%;
  }
}