.landing__candles-type {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}

.landing__candles-type h3 {
  margin: 0;
}

.landing__candles-ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
  padding: 0;
  list-style-type: none;
  margin: 0;
  gap: 15px;
}

.landing__candles-ul li {
  display: flex;
}

.landing__candles-ul li article {
  /* background-color: #f0f1f5;
  padding: 0px 30px 30px 30px; */
  color: #213547;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.landing__candles-ul li article h3 {
  margin: 0;
  line-height: 1;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 1px;
  color: #213547;
}

.landing__goods-ul-li-article-wrapper-info {
  aspect-ratio: 1 / 1;
    position: absolute;
    top: 5px;
    right: 5px;
    border-radius: 51%;
    background-color: transparent;
    border: 2px solid black;
    padding: 0;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
  transition: all 0.25s ease-in-out;
}

.landing__goods-ul-li-article-wrapper-info:hover {
  border: 2px solid #646cff;
  color: #646cff;
}