.categories {
  box-sizing: border-box;
  /* padding: 5% 15%; */
}

.categories h2 {
  font-size: 32px;
  font-weight: 500;
  text-align: center;
}

.categories__ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
  padding: 0;
  list-style-type: none;
  margin: 25px 0 0 0;
  gap: 15px;
}

.categories__ul-li {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 25px;
  /* background-color: #c2c2c3; */
    /* background-image: url(/src/assets/1.png); */
    background-size: 65%;
    background-repeat: no-repeat;
    background-position: 140% 50%;
    border-radius: 12px;
  height: 180px;
  box-sizing: border-box;
  padding: 10px 20px;
  /* border: 2px solid #c2c2c3; */
  background-color: #f0f1f5;
  color: #213547;
}

.categories__ul-li h3 {
  font-size: 16px;
  max-width: 120px;
  line-height: 1.2;
  margin: 0;
}

.categories__ul-li button {
  box-sizing: border-box;
  padding: 0;
  display: flex;
  align-items: center;
  background-color: transparent;
  gap: 5px;
  font-size: 14px;
}

.categories__ul-li-svg {
  background-color: white;
  padding: 5px;
  border-radius: 50%;
}