.header {
  position: sticky;
  top: 0px;
  /* background-color: rgb(0, 0, 0, 0.75); */
  /* background-color: #333336; */
  backdrop-filter: blur(4px);
  color: #213547;
  box-sizing: border-box;
  padding: 15px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
    z-index: 20;
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 3px;
  color: #213547;
}

.header ul {
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  gap: 25px;
  padding: 0;
}

.header__cart-btn {
  position: relative;
  aspect-ratio: 1/1;
  background-color: #f0f1f5;
}

.header__cart-btn p {
  position: absolute;
    top: -5px;
    right: -5px;
    background-color: #895330;
    color: white;
    /* aspect-ratio: 1 / 1; */
    display: flex;
    /* aspect-ratio: 1 / 1; */
    width: 18px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 14px;
    aspect-ratio: 1 / 1;
}

@media screen and (max-width: 1023px) {
  .header ul {
    padding: 15px;
  }
}

@media screen and (max-width: 767px) {
  .header {
    padding: 15px 9%;
  }
  .header ul {
    display: none;
  }
}