.lastAction__wrapper {
  background-color: #f0f1f5;
  color: black;
  box-sizing: border-box;
  padding: 50px 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 50px;
}

.lastAction__wrapper-text {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.lastAction__wrapper h2 {
  margin: 0;
  text-align: left;
  line-height: 1.2;
}

.lastAction__wrapper button {
  background-color: transparent;
  color: #413f3f;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  border-radius: 0;
  padding: 15px;
  gap: 15px;
  border: 2px solid #413f3f;
  transition: all 0.25s ease-in-out;
}

.lastAction__wrapper button:hover {
  background-color: #895330;
  border: 2px solid #895330;
  color: white;
}

@media screen and (max-width: 767px) {
  .lastAction__wrapper {
    padding: 30px 15px;
    gap: 25px;
  }

  .lastAction__wrapper-text {
    flex-direction: column;
    gap: 15px;
  }
}