.order {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(3px);
    z-index: 50;
    visibility: hidden;
    opacity: 0;
}

.order__close {
    /* position: absolute;
    top: -50px;
    right: -50px; */
    position: absolute;
    top: 15px;
    right: 15px;
    border: 2px solid black;
}

.order__wrapper {
        /* display: flex; */
        justify-content: space-between;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        /* gap: 1vw; */
        /* border-radius: 12px; */
        background-color: #f0f1f5;
        box-sizing: border-box;
        /* padding: 25px; */
        /* border-radius: 5px; */
        /* overflow: hidden; */
        position: relative;
        max-height: 480px;
    height: 100%;
    overflow: hidden;
}

.order__wrapper-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.order__wrapper-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: stretch;
    box-sizing: border-box;
    padding: 50px;
    gap: 30px;
    height: 480px;
    overflow: auto;
}

.order__wrapper-content h2 {
    margin: 0;
}

.order__wrapper  form {
    box-sizing: border-box;
    /* padding: 25px 50px; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    gap: 25px;
}

.order__wrapper  form input {
    width: 100%;
    height: 35px;
    border: none;
    border-bottom: 2px solid grey;
    background: transparent;
    padding: 5px 15px;
}

.order__wrapper-ul {
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%;
    /* max-width: 320px; */
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    gap: 15px;
}

.order__wrapper-ul li {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    gap: 15px;
}

.order__wrapper-ul li img {
    max-width: 75px;
    aspect-ratio: 1/1;
    object-fit: cover;
    background-color: white;
    border-radius: 9px;
}

.order__wrapper-ul-qunatity-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}

.order__wrapper-ul-qunatity-div button {
    padding: 0;
    display: flex;
    width: 25px;
    aspect-ratio: 1 / 1;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: black;
}

.order__wrapper-ul-qunatity-div span {
    font-size: 18px;
    font-weight: 700;
}

.order__wrapper-ul-li-btn {
    background-color: transparent;
    border: 2px solid black;
    border-radius: 51%;
    padding: 0;
    aspect-ratio: 1 / 1;
    width: 20px;
    font-size: 12px;
    position: absolute;
    top: -5px;
    right: -5px;
}

.order__wrapper-ul-qunatity-div .disabled-btn {
    color: #bdbdbd;
}

.order__form button {
    background-color: transparent;
    color: black;
    border: 2px solid black;
    border-radius: 4px;
    transition: all 0.25s ease-in-out;
}

.order__form button:hover {
    background-color: black;
    color: white;
    border: 2px solid black;
}

#empty-cart {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
}

#empty-cart h3 {
    margin: 0;
}

#empty-cart p {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
}

.order__wrapper-success-text {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.order__wrapper-success-text a {
    background-color: transparent;
    color: #413f3f;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    border-radius: 0;
    padding: 7px 5px;
    gap: 15px;
    border: 2px solid #413f3f;
    transition: all 0.25s ease-in-out;
}

.order__wrapper-success-social {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.order__wrapper-success-social ul {
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    padding: 0;
    list-style: none;
    font-size: 30px;
    margin: 0;
}

@media screen and (max-width: 1439px) {
    .order__wrapper-content {
        padding: 25px;
    }
}

@media screen and (max-width: 1023px) {
    .order__close {
        right: 0;
    }
}

@media screen and (max-width: 767px) {
    .order__wrapper {
        grid-template-columns: 1fr;
    }
    .order__wrapper-cover {
        display: none;
    }
}