.process {
  color: #213547;
}

.process__wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 25px;
}

.process__wrapper img {
  width: 50%;
  border-radius: 9px;
}

.process__wrapper-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 15px;
}

.process__wrapper-text h2 {
  margin: 0;
  line-height: 1;
  text-align: left;
}

.process__wrapper-text a {
  background-color: transparent;
  color: #413f3f;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  border-radius: 0;
  padding: 7px 15px;
  gap: 15px;
  border: 2px solid #413f3f;
  transition: all 0.25s ease-in-out;
}

.process__wrapper-text a {
  background-color: transparent;
  
}

.process__wrapper-text a:hover {
  background-color: #895330;
  border: 2px solid #895330;
  color: white;
}

.process__p {
  font-weight: 300;
}

.process__p-span {
  color: #646cff;
}

#qr-code {
  border: 2px solid black;
  max-width: 90px;
  border-radius: 0;
}

.process__video {
  width: 100%;
  aspect-ratio: 16 / 9;
}

@media screen and (max-width: 767px) {
  .process__wrapper {
    flex-direction: column;
  }
  .process__wrapper-text h2 {
    font-size: 24px;
    line-height: 1.2;
    width: 100%;
    text-align: center;
  }
  .process__wrapper img {
    order: 2;
    width: 100%;
  }
}