.padding_large { 
  /* padding: 5% 15%; */
}

.start {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  /* background-color: #f0f1f5; */
  box-sizing: border-box; 
  font-family: "M PLUS Rounded 1c", sans-serif;
}

.start__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.start__text {
  max-width: 450px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: flex-start;
}

.start__headline {
  line-height: 1.2;
  margin: 0;
}

.start img {
  width: 100%;
  max-width: 420px;
  border-radius: 5px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.start__order-btn {
  background-color: transparent;
    color: #413f3f;
    border: 2px solid #413f3f;
    width: 160px;
    height: 45px;
    border-radius: 2px;
    font-weight: 700;
    font-size: 18px;
    transition: all 0.25s ease-in-out;
}

.start__order-btn p {
  line-height: 1;
}

.start__order-btn:hover {
  /* background-color: #f9a581; */
  /* border: 2px solid #f9a581; */
  background-color: #895330;
  border: 2px solid #895330;
  color: white;
}

@media screen and (max-width: 767px) {
  .start__headline {
    font-size: 42px;
    line-height: 1.1;
  }
  .start img {
    display: none;
  }
}